/* Coolors Exported Palette - https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

/* CSS */
--space-cadet: hsla(235, 35%, 26%, 1);
--manatee: hsla(218, 19%, 68%, 1);
--alice-blue: hsla(197, 3%, 96%, 1);
--imperial-red: hsla(353, 85%, 94%, 1);
--amaranth-red: hsla(350, 98%, 85%, 1);

/* SCSS HEX */
$space-cadet: #2b2d42ff;
$manatee: #8d99aeff;
$alice-blue: #edf2f4ff;
$imperial-red: #ef233cff;
$amaranth-red: #d90429ff;

/* SCSS HSL */
$space-cadet: hsla(235, 35%, 26%, 1);
$manatee: hsla(218, 19%, 68%, 1);
$alice-blue: hsla(197, 3%, 96%, 1);
$imperial-red: hsla(353, 85%, 94%, 1);
$amaranth-red: hsla(350, 98%, 85%, 1);

/* SCSS RGB */
$space-cadet: rgba(43, 45, 66, 1);
$manatee: rgba(141, 153, 174, 1);
$alice-blue: rgba(237, 242, 244, 1);
$imperial-red: rgba(239, 35, 60, 1);
$amaranth-red: rgba(217, 4, 41, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-right: linear-gradient(90deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-bottom: linear-gradient(180deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-left: linear-gradient(270deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-top-right: linear-gradient(45deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-bottom-right: linear-gradient(135deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-top-left: linear-gradient(225deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-bottom-left: linear-gradient(315deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);
$gradient-radial: radial-gradient(#2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff, #d90429ff);