/* Coolors Exported Palette - https://coolors.co/f7f7f2-524948-fa9f42-e71d36-301014 */

/* CSS */
--baby-powder: hsla(60, 2%, 97%, 1);
--dark-liver: hsla(6, 12%, 32%, 1);
--deep-saffron: hsla(30, 74%, 98%, 1);
--rose-madder: hsla(353, 87%, 91%, 1);
--dark-sienna: hsla(353, 67%, 19%, 1);

/* SCSS HEX */
$baby-powder: #f7f7f2ff;
$dark-liver: #524948ff;
$deep-saffron: #fa9f42ff;
$rose-madder: #e71d36ff;
$dark-sienna: #301014ff;

/* SCSS HSL */
$baby-powder: hsla(60, 2%, 97%, 1);
$dark-liver: hsla(6, 12%, 32%, 1);
$deep-saffron: hsla(30, 74%, 98%, 1);
$rose-madder: hsla(353, 87%, 91%, 1);
$dark-sienna: hsla(353, 67%, 19%, 1);

/* SCSS RGB */
$baby-powder: rgba(247, 247, 242, 1);
$dark-liver: rgba(82, 73, 72, 1);
$deep-saffron: rgba(250, 159, 66, 1);
$rose-madder: rgba(231, 29, 54, 1);
$dark-sienna: rgba(48, 16, 20, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-right: linear-gradient(90deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-bottom: linear-gradient(180deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-left: linear-gradient(270deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-top-right: linear-gradient(45deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-bottom-right: linear-gradient(135deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-top-left: linear-gradient(225deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-bottom-left: linear-gradient(315deg, #f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);
$gradient-radial: radial-gradient(#f7f7f2ff, #524948ff, #fa9f42ff, #e71d36ff, #301014ff);